.search__header{
    padding-left: 25px;
    padding-top: 15px;
}

.search__header > .searchbar > form{
    padding-right: 30%;
}

.tab{
    padding: 15px 0 7px 15px;
    display: flex;
    border-bottom: 1px solid var(--traitcolor);
    color: var(--fontcolor);
    justify-content: space-evenly;
}

.tab-name{
    cursor: pointer;
}

.tab-name.active{
    color: rgb(75, 176, 235);
}