@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Anton');

body{
    margin: 0px;
    background-color: #cedce0;
    font-family: 'Abel';
    font-size: 17px;
    color: rgb(40, 87, 104);
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: rgb(243, 243, 243);
}

.title
{
    color: rgb(40, 87, 104);
    font-family: 'Anton';
}

.search
{
    display: flex;
}

.logo
{
    cursor: pointer;
}

.bouton
{
    padding: 1em 2em;
    color: white;
    background-color: rgba(83, 145, 207, 0.808);
    border-radius: .3em;
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.bouton:hover, .bouton:focus {
    background-color: rgba(53, 95, 136, 0.808);
}

.ami-btn
{
    border-radius: 25px 25px 25px 25px;
}

.nav-bouton
{
    margin-left: 1rem;
}

.nav-bouton:first-child
{
    margin-left: 0;
}

.zentai
{
    display: flex;
}

.left{
    display: flex;
    padding-right: 20%;
}

main
{
    display: flex;
    flex-basis: auto;
    flex-wrap: nowrap;
    position: relative;
    flex-direction: column;
    width: 100%;
}

.commentaire {
    width: 89%;
}

.mur {
    padding-left: 24%;
}

.commentaire .commentbox
{
    padding: 15px;
    width: 82%;
    border-radius: 16px 16px 16px 16px;
    outline-width: 0;
    resize: none;
}

.messages
{
    flex-shrink: initial;
    height: 100%;
    
}

.list-msg
{
    width: 82%;
}

.msg
{
    border: 1px;
    color: rgb(61, 93, 105);
    background-color: rgb(183, 205, 214);
    border-radius: .5em .5em .5em .5em;
    text-indent: 40px;
    margin-bottom: 1.5%;
}

.msg-content {
    justify-content: space-between;
    display: flex;
}

.rep {
    display: flex;
    background-color: rgb(183, 205, 214);
    margin-top: 50px;
    margin-left: 150px;
    height: 90vh;
    width: 70vw;
}

.rep-msg {
    display: flex;
    background-color: rgb(79, 122, 139);
    height: fit-content;
    color:white;
    padding: 25px;
    width: 70vw;
}

.list-ami
{
    width: 80%;
}

.ami
{
    border: 1px;
    color: rgb(61, 93, 105);
    background-color: rgb(183, 205, 214);
    border-radius: .5em .5em .5em .5em;
    text-indent: 40px;
}


.list-rps
{
    border: 1px;
    background-color: lightgray;
}

.rp1
{
    padding-left: 10%;
}

.infos{
    color: rgb(40, 87, 104);
    padding-left: 25%;
}

.retour{
    text-align:right;
    padding-right: 15%;
    padding-top: 5%;
}

.btn-usr{
    padding: .1em .2em;
    color: white;
    background-color: rgba(110, 136, 161, 0.596);
    border-radius: 0em 0em .5em .5em;
    cursor: pointer;
}

.btn-usr:focus, .btn-usr:hover{
    background-color: rgba(71, 90, 107, 0.596);
}